@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/* CSS custom properties (variables) */
:root {
  --c-blue: #48b2ff;
  --ff-acme: "Acme" . sans-serif;
}
